<h1 mat-dialog-title>Edit Advertisement</h1>
<mat-dialog-content class="dialog-class">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="carForm">
            <form [formGroup]="carForm">
                <ng-template matStepLabel>Car</ng-template>
                <div class="row">
                    <div class="col-9">
                        <mat-form-field class="form-full-width">
                            <mat-label>Choose existing car</mat-label>
                            <mat-select formControlName="car">
                                <mat-option *ngFor="let car of cars" [value]="car">
                                    {{car.carDTO.make}} {{car.carDTO.model}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3" align="end">
                        <button mat-raised-button color="primary" (click)="openAddCar()">Add
                            car</button>
                    </div>
                </div>
                <div *ngIf="getSelectedCar()">
                    <mat-card class="item-card">
                        <div>
                            <mat-card-header class="car-card-header">
                                <mat-card-title class="car-card-title">{{getSelectedCar().carDTO.make}}
                                    {{getSelectedCar().carDTO.model}}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <table class="table car-table">
                                    <tbody>
                                        <tr>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">local_gas_station</mat-icon>Fuel Type:
                                                </span></th>
                                            <td>{{getSelectedCar().carDTO.fuelType.name}}</td>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">speed</mat-icon>Mileage:
                                                </span></th>
                                            <td>{{getSelectedCar().carDTO.mileageInKm | number}} km</td>
                                        </tr>
                                        <tr>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">settings</mat-icon>Gearbox:
                                                </span></th>
                                            <td>{{getSelectedCar().carDTO.gearBoxType.name}}</td>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">airline_seat_recline_normal</mat-icon>Kid's
                                                    seats:
                                                </span></th>
                                            <td>{{getSelectedCar().carDTO.kidsSeats}}</td>
                                        </tr>
                                        <tr>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">airport_shuttle</mat-icon>Body Style:
                                                </span></th>
                                            <td>{{getSelectedCar().carDTO.bodyStyle.name}}</td>
                                            <th><span class="theader">
                                                    <mat-icon class="mr-2">navigation</mat-icon>Tracking:
                                                </span></th>
                                            <td>
                                                <span *ngIf="getSelectedCar().carDTO.availableTracking">Available</span>
                                                <span *ngIf="!getSelectedCar().carDTO.availableTracking">Not
                                                    Available</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
                <div class="mt-3" align="end">
                    <button mat-raised-button color="primary" [disabled]="!carForm.valid" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="priceListForm">
            <form [formGroup]="priceListForm">
                <ng-template matStepLabel>Price List info</ng-template>
                <div class="row">
                    <div class="col-9">
                        <mat-form-field class="form-full-width">
                            <mat-label>Choose existing Price List</mat-label>
                            <mat-select formControlName="priceList">
                                <mat-option *ngFor="let priceList of priceLists" [value]="priceList">
                                    Per day: {{priceList.pricePerDay}} €, Per km:{{priceList.pricePerKm}} €, For
                                    CDW: {{priceList.priceForCDW}} €
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3" align="end">
                        <button mat-raised-button color="primary" (click)="openAddPriceList()">Add
                            PriceList</button>
                    </div>
                </div>
                <div *ngIf="getSelectedPriceList()">
                    <mat-card class="price-list-card">
                        <mat-card-header>
                            <mat-card-title>Selected Price List
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="first">Price Per Day</th>
                                        <td>
                                            {{getSelectedPriceList().pricePerDay | number : '1.2-2'}} €
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="first">Price Per Km</th>
                                        <td> <span
                                                *ngIf="getSelectedPriceList().pricePerKm">{{getSelectedPriceList().pricePerKm}}
                                                €</span>
                                            <span *ngIf="!getSelectedPriceList().pricePerKm">—</span></td>
                                    </tr>
                                    <tr>
                                        <th class="first">Price For CDW</th>
                                        <td> <span
                                                *ngIf="getSelectedPriceList().priceForCDW">{{getSelectedPriceList().priceForCDW}}
                                                €</span>
                                            <span *ngIf="!getSelectedPriceList().priceForCDW">—</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div align="end" class="mt-3">
                    <button mat-raised-button class="mr-3" color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" [disabled]="!priceListForm.valid"
                        matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="dateForm">
            <form [formGroup]="dateForm">
                <ng-template matStepLabel>Date info</ng-template>
                <div>
                    <table class="form-full-width mt-2 " cellspacing="0">
                        <tr>
                            <td class="form-full-width-50">
                                <mat-form-field class="form-full-width-left">
                                    <input matInput [matDatepicker]="pickerFrom" placeholder="Valid from"
                                        formControlName="validFrom" readonly [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td class="form-full-width-50">
                                <mat-form-field class="form-full-width-right">
                                    <input matInput placeholder="Discount for 30+ days rent" type="number"
                                        formControlName="discount">
                                    <span matSuffix class="ml-2">%</span>
                                    <mat-error
                                        *ngIf="dateForm.get('discount').errors && dateForm.get('discount').errors['min']">
                                        Discount must be positive number.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="dateForm.get('discount').errors && dateForm.get('discount').errors['max']">
                                        Max discount is 99%.
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>

                            <td class="form-full-width-50">
                                <div *ngIf="getSelectedPriceList() && getSelectedPriceList().pricePerKm">
                                    <mat-form-field class="form-full-width-left">
                                        <input matInput placeholder="Kilometres Limit"
                                            formControlName="kilometresLimit">
                                        <mat-error
                                            *ngIf="dateForm.get('kilometresLimit').errors && dateForm.get('kilometresLimit').errors['min']">
                                            Kilometres Limit must be positive number.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </td>
                        </tr>

                    </table>
                </div>
                <div align="end">
                    <button mat-raised-button class="mr-3" color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" [disabled]="!dateForm.valid" (click)="edit()"
                        matStepperNext>Edit</button>
                </div>

            </form>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>