<mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-9">
                <h2>Change password</h2>
            </div>
        </div>

        <form [formGroup]="changePasswordForm" class="form-full-width">
            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error
                    *ngIf="changePasswordForm.get('email').errors && changePasswordForm.get('email').errors['required']">
                    Please enter email address.
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('email').errors && changePasswordForm.get('email').errors['email']">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-full-width mt-3">

                <input matInput placeholder="Old password" [type]="hide ? 'password' : 'text'"
                    formControlName="oldPassword" maxlength="64">
                <span matSuffix class="ml-2">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
                <mat-error
                    *ngIf="changePasswordForm.get('oldPassword').errors && changePasswordForm.get('oldPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('oldPassword').errors && changePasswordForm.get('oldPassword').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('oldPassword').errors && changePasswordForm.get('oldPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width mt-3">

                <input matInput placeholder="New password" [type]="newHide ? 'password' : 'text'"
                    formControlName="newPassword" maxlength="64">
                <span matSuffix class="ml-2">
                    <mat-icon matSuffix (click)="newHide = !newHide">{{newHide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </span>
                <mat-error
                    *ngIf="changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="Repeated password" [type]="repeatedHide ? 'password' : 'text'"
                    formControlName="repeatedPassword" maxlength="64">
                <span matSuffix class="ml-2">
                    <mat-icon matSuffix (click)="repeatedHide = !repeatedHide">
                        {{repeatedHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
                <mat-error
                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['mustMatch']">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>

            <div class="row mt-3">
                <div class="col-8">
                    &nbsp;
                </div>
                <div class="col-4" align="end">
                    <button mat-raised-button color="primary" (click)="changePassword()"
                        [disabled]="!changePasswordForm.valid">Save changes</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>