<h1 mat-dialog-title>Edit Car</h1>
<mat-dialog-content class="dialog-class">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="editForm">
            <form [formGroup]="editForm">
                <ng-template matStepLabel>Edit info</ng-template>
                <table class="form-full-width mt-2" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="form-full-width-left">
                                <input matInput placeholder="Mileage in Km" type="number" formControlName="mileageInKm"
                                    min="0">
                                <span matSuffix class="ml-2">Km</span>
                                <mat-error
                                    *ngIf="editForm.get('mileageInKm').errors && editForm.get('mileageInKm').errors['required']">
                                    Please enter mileage in Km.
                                </mat-error>
                                <mat-error
                                    *ngIf="editForm.get('mileageInKm').errors && editForm.get('mileageInKm').errors['min']">
                                    Mileage must be a positive number.
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="form-full-width-right">
                                <input matInput placeholder="Number of kid's seats" type="number"
                                    formControlName="kidsSeats" min="0" max="3">
                                <mat-error
                                    *ngIf="editForm.get('kidsSeats').errors && editForm.get('kidsSeats').errors['required']">
                                    Please enter number of kid's seats.
                                </mat-error>
                                <mat-error
                                    *ngIf="editForm.get('kidsSeats').errors && editForm.get('kidsSeats').errors['min']">
                                    Number of kid's seats must be positive number.
                                </mat-error>
                                <mat-error
                                    *ngIf="editForm.get('kidsSeats').errors && editForm.get('kidsSeats').errors['max']">
                                    Max number of kid's seats is 3.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>
                <table class="form-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <div class="form-full-width-left">
                                <mat-checkbox formControlName="availableTracking">
                                    Available tracking
                                </mat-checkbox>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="end" class="mt-3">
                    <button mat-raised-button color="primary" [disabled]="!editForm.valid" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Change pictures</ng-template>
            <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'" class="mt-2">
                <ngx-dropzone-label>Drop images here or click to choose them.</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)"></ngx-dropzone-image-preview>
            </ngx-dropzone>
            <span class="note">Note: Duplicate pictures will be omitted.</span>
            <div align="end" class="mt-3">
                <button mat-raised-button color="primary" class="mr-3" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" [disabled]="!editForm.valid" matStepperNext
                    (click)="edit()">Edit</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>