mat-card {
    max-width: 500px;
    margin: 2em auto;
}

.form-full-width {
    width: 100%;
}

.div-text {
    font-size: 115%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.highlighted {
    color: #3f51b5;
    font-weight: 500;
}