<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <h3> As a non-authenticated user, you are not allowed to enter any page besides login or register
                        page.
                    </h3>
                    <h3>
                        If you want to have access to the system, click here to <a mat-list-item
                            routerLink="/register">register as a client</a>
                    </h3>
                    <h3>
                        If you already have an account, click here to <a mat-list-item routerLink="/login">login</a>
                    </h3>
                </mat-card>
            </div>
        </div>
    </div>
</div>