<mat-card *ngIf="selectedAdWithPictures">
    <mat-card-content>
        <div class="row">
            <div class="col-9">
                <h2>{{selectedAdWithPictures.car.make.name}}
                    {{selectedAdWithPictures.car.model.name}}</h2>
            </div>
            <div class="col-3 rating">
                <star-rating class="rating-style" totalstars="5" checkedcolor="#87C7F3" uncheckedcolor="black"
                    size="40px" [(value)]="selectedAdWithPictures.car.avgRating" readonly="true">
                </star-rating>
            </div>
        </div>
        <div class="row car-data-div">
            <div class="col-7">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div class="col-5">
                <h4>Car information:</h4>
                <table class="table car-table">
                    <tbody>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">speed</mat-icon>Mileage:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.mileageInKm | number}} Km</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">airline_seat_recline_normal</mat-icon>Kid's
                                    seats:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.kidsSeats}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">navigation</mat-icon>Tracking:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdWithPictures.car.availableTracking">Available</span>
                                <span *ngIf="!selectedAdWithPictures.car.availableTracking">Not
                                    Available</span>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">local_gas_station</mat-icon>Fuel Type:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.fuelType.name}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">settings</mat-icon>Gearbox:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.gearBoxType.name}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">airport_shuttle</mat-icon>Body Style:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.bodyStyle.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ad-data-div">
            <div class="col-9">
                <h4>Rent information:</h4>
                <table class="table car-table">
                    <tbody>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">person</mat-icon>Owner:
                                </span></th>
                            <td>{{selectedAdWithPictures.car.owner}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">today</mat-icon>Available Between:
                                </span></th>
                            <td><span *ngIf="selectedAdWithPictures.dateTo">
                                    {{selectedAdWithPictures.dateFrom  | date:"dd.MM.yyyy."}} —
                                    {{selectedAdWithPictures.dateTo  | date:"dd.MM.yyyy."}}</span>
                                <span *ngIf="!selectedAdWithPictures.dateTo">
                                    {{selectedAdWithPictures.dateFrom  | date:"dd.MM.yyyy."}} — Unlimited</span></td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">place</mat-icon>Pick-up Point:
                                </span></th>
                            <td>{{selectedAdWithPictures.pickUpPoint}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">speed</mat-icon>Kilometres Limit:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdWithPictures.kilometresLimit">
                                    {{selectedAdWithPictures.kilometresLimit}} Km &nbsp;
                                    <span class="per-km">
                                        ({{selectedAdWithPictures.priceList.pricePerKm}} € per
                                        Km)</span>
                                </span>
                                <span *ngIf="!selectedAdWithPictures.kilometresLimit">Unlimited</span>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">commute</mat-icon>Collision Damage
                                    Waiver:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdWithPictures.cdw">
                                    {{selectedAdWithPictures.priceList.priceForCDW}} €</span>
                                <span *ngIf="!selectedAdWithPictures.cdw">Not Available</span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedAdWithPictures.discount && selectedAdWithPictures.discount > 0">
                            <th><span class="theader">
                                    <mat-icon class="mr-2">money_off</mat-icon>30+ days Rent
                                    Discount:
                                </span></th>
                            <td>{{selectedAdWithPictures.discount}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table class="price-table">
                    <tr>
                        <td class="price-header">Price per day:</td>
                    </tr>
                    <tr>
                        <td class="price-text">
                            {{selectedAdWithPictures.priceList.pricePerDay}} €</td>
                    </tr>
                    <tr><button *ngIf="checkIfCanRentAdvertisement(selectedAdWithPictures)" mat-raised-button
                            color="primary" class="rent-btn" (click)="rent(selectedAdWithPictures)">Rent me!</button>
                        <button *ngIf="!checkIfCanRentAdvertisement(selectedAdWithPictures)" mat-flat-button
                            color="warn" class="rented-out-btn">RENTED OUT</button></tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>