<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <h3>Pending Registration...</h3>
                    <hr>
                    <p>Thank you for our registration to the Rent a car System.</p>
                    <p>Please wait for the administrator to review your request.</p>
                    <p>You will receive an email when the administrator reviews your request.</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>