@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$main-app-typography: mat-typography-config($font-family: '"Comfortaa", sans-serif;');
@include mat-core($main-app-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$main-app-primary: mat-palette($mat-teal, 500);
$main-app-accent:  mat-palette($mat-orange, 800);
$main-app-warn:    mat-palette($mat-red, 500);
// Create the theme object (a Sass map containing all of the palettes).
$main-app-theme: mat-light-theme($main-app-primary, $main-app-accent, $main-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($main-app-theme);