<h1 mat-dialog-title>Add new Fuel Type</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="createForm" class="form-full-width">
        <mat-form-field class="form-full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="createForm.get('name').errors && createForm.get('name').errors['required']">
                Please enter fuel type's name.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="create()" class="mb-3"
        [disabled]="!createForm.valid">Add</button>
</mat-dialog-actions>