mat-card {
    max-width: 820px;
    margin: 2em auto;
}

.create-btn {
    color: white;
    background-color: #00cc00;
}

.buttons-width {
    width: 34%;
}

.table td {
    vertical-align: middle;
}
