<mat-card *ngIf="selectedAdvertisement">
    <mat-card-content>
        <div class="row">
            <div class="col-9">
                <h2>{{selectedAdvertisement.car.make}}
                    {{selectedAdvertisement.car.model}}</h2>
            </div>
            <div class="col-3 rating">
                <star-rating class="rating-style" totalstars="5" checkedcolor="#87C7F3" uncheckedcolor="black"
                    size="40px" [(value)]="selectedAdvertisement.car.avgRating" readonly="true">
                </star-rating>
            </div>
        </div>
        <div class="row car-data-div">
            <div class="col-7">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div class="col-5">
                <h4>Car information:</h4>
                <table class="table car-table">
                    <tbody>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">speed</mat-icon>Mileage:
                                </span></th>
                            <td>{{selectedAdvertisement.car.mileageInKm | number}} Km</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">airline_seat_recline_normal</mat-icon>Kid's
                                    seats:
                                </span></th>
                            <td>{{selectedAdvertisement.car.kidsSeats}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">navigation</mat-icon>Tracking:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdvertisement.car.availableTracking">Available</span>
                                <span *ngIf="!selectedAdvertisement.car.availableTracking">Not
                                    Available</span>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">local_gas_station</mat-icon>Fuel Type:
                                </span></th>
                            <td>{{selectedAdvertisement.car.fuelType}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">settings</mat-icon>Gearbox:
                                </span></th>
                            <td>{{selectedAdvertisement.car.gearBoxType}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">airport_shuttle</mat-icon>Body Style:
                                </span></th>
                            <td>{{selectedAdvertisement.car.bodyStyle}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ad-data-div">
            <div class="col-9">
                <h4>Rent information:</h4>
                <table class="table car-table">
                    <tbody>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">person</mat-icon>Owner:
                                </span></th>
                            <td>{{selectedAdvertisement.ownerName}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">today</mat-icon>Available Between:
                                </span></th>
                            <td><span *ngIf="selectedAdvertisement.dateTo">
                                    {{selectedAdvertisement.dateFrom  | date:"dd.MM.yyyy."}} —
                                    {{selectedAdvertisement.dateTo  | date:"dd.MM.yyyy."}}</span>
                                <span *ngIf="!selectedAdvertisement.dateTo">
                                    {{selectedAdvertisement.dateFrom  | date:"dd.MM.yyyy."}} — Unlimited</span></td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">place</mat-icon>Pick-up Point:
                                </span></th>
                            <td>{{selectedAdvertisement.pickUpPoint}}</td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">speed</mat-icon>Kilometres Limit:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdvertisement.kilometresLimit">
                                    {{selectedAdvertisement.kilometresLimit}} Km &nbsp;
                                    <span class="per-km">
                                        ({{selectedAdvertisement.priceList.pricePerKm | number: '1.2-2'}} € per
                                        Km)</span>
                                </span>
                                <span *ngIf="!selectedAdvertisement.kilometresLimit">Unlimited</span>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="theader">
                                    <mat-icon class="mr-2">commute</mat-icon>Collision Damage
                                    Waiver:
                                </span></th>
                            <td>
                                <span *ngIf="selectedAdvertisement.cdw">
                                    {{selectedAdvertisement.priceList.priceForCDW | number: '1.2-2'}} €</span>
                                <span *ngIf="!selectedAdvertisement.cdw">Not Available</span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedAdvertisement.discount && selectedAdvertisement.discount > 0">
                            <th><span class="theader">
                                    <mat-icon class="mr-2">money_off</mat-icon>30+ Days Rent
                                    Discount:
                                </span></th>
                            <td>{{selectedAdvertisement.discount}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table class="price-table">
                    <tr>
                        <td class="price-header">Price per day:</td>
                    </tr>
                    <tr>
                        <td class="price-text">
                            {{selectedAdvertisement.priceList.pricePerDay | number: '1.2-2'}} €</td>
                    </tr>
                    <tr><button
                            *ngIf="this.authService.isLoggedIn() && checkIfCanRentAdvertisement(selectedAdvertisement)"
                            mat-raised-button color="primary" class="rent-btn" (click)="rent(selectedAdvertisement)">
                            Rent me!
                        </button>
                        <button *ngIf="!checkIfCanRentAdvertisement(selectedAdvertisement)" mat-flat-button color="warn"
                            class="rented-out-btn">RENTED OUT</button></tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>