.dialog-class {
  width: 700px;
}

.car-table tr {
  border-bottom: 1px solid #ddd;
}

.car-table th, .car-table td {
  font-size: 16px;
  vertical-align: bottom;
}

.theader {
  font-weight: 550;
  display: inline-flex;
  vertical-align: middle;
}

.item-card {
  width: 100%;
  background-color: #F5F5F5;    
  margin: 0.7em auto;
}

.car-card-header{
  display:inline-block;
  width:100%;
  vertical-align: middle;
}

.car-card-title{
  float: left;
}

.car-card-buttons{
  float:right;
  margin-top: -6px;
}

.car-table {
  margin-bottom: 0;
}

.form-full-width {
  width: 100%;
}


.form-full-width-left {
  width: 45%;
}

.form-full-width-right {
  width: 40%;
}

.form-full-width-95 {
  width: 95%;
}

.first{
  font-weight: 550;
}

.mat-card-title {
  margin-left: -10px;
}

.mat-card-content{
  margin-bottom: 0;
}

/* Hides arrow buttons in input type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}