<table mat-table [dataSource]="carsDataSource" class="car-list-table">
    <ng-container matColumnDef="car">
        <td mat-cell *matCellDef="let element">
            <mat-card class="item-card">
                <div class="image-div" (click)="viewPictures(element)">
                    <img [src]="element.image" *ngIf="!element.isImageLoading; else noImageFound" class="image">
                </div>
                <div>
                    <mat-card-header class="advertisement-card-header">
                        <mat-card-title class="advertisement-card-title">{{element.make.name}}
                            {{element.model.name}}
                        </mat-card-title>
                        <div class="advertisement-card-buttons">
                            <star-rating class="rating-style" totalstars="5" checkedcolor="#87C7F3"
                                uncheckedcolor="black" size="30px" [(value)]="element.avgRating" readonly="true">
                            </star-rating>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <table class="table car-table">
                            <tbody>
                                <tr>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">local_gas_station</mat-icon>Fuel Type:
                                        </span></th>
                                    <td>{{element.fuelType.name}}</td>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">speed</mat-icon>Mileage:
                                        </span></th>
                                    <td>{{element.mileageInKm | number}} Km</td>
                                </tr>
                                <tr>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">settings</mat-icon>Gearbox:
                                        </span></th>
                                    <td>{{element.gearBoxType.name}}</td>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">airline_seat_recline_normal</mat-icon>Kid's
                                            seats:
                                        </span></th>
                                    <td>{{element.kidsSeats}}</td>
                                </tr>
                                <tr>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">airport_shuttle</mat-icon>Body Style:
                                        </span></th>
                                    <td>{{element.bodyStyle.name}}</td>
                                    <th><span class="theader">
                                            <mat-icon class="mr-2">comment</mat-icon>Comments:
                                        </span></th>
                                    <td>
                                        {{element.commentsCount}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </div>
            </mat-card>
        </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>