<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-9">
        <h2>Manage Comments</h2>
      </div>
    </div>
    <div>
      <div class="status-filter mt-3 mb-2">
        <span class="filter-span">Filter by status:</span>
        <mat-form-field>
          <mat-select
            [(ngModel)]="status"
            (selectionChange)="fetchAllComments(status)"
          >
            <mat-option value="all" selected>- All -</mat-option>
            <mat-option value="awaiting">Awaiting</mat-option>
            <mat-option value="approved">Approved</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <table
          mat-table
          [dataSource]="commentsDataSource"
          class="user-table mat-elevation-z8"
        >
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">{{ element.text }}</td>
          </ng-container>

          <ng-container matColumnDef="sender">
            <th mat-header-cell *matHeaderCellDef>Sender</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sender.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef class="buttons-width">
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="Approve"
                matTooltip="Approve"
                *ngIf="element.status === 'AWAITING'"
                color="primary"
                (click)="approve(element)"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                aria-label="Reject"
                matTooltip="Reject"
                color="primary"
                *ngIf="element.status === 'AWAITING'"
                (click)="reject(element)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsComment"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsComment"
          ></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
