<mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-9">
                <h2>Registration</h2>
            </div>
        </div>

        <form [formGroup]="registrationForm" class="form-full-width">
            <mat-form-field class="form-full-width">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error
                    *ngIf="registrationForm.get('email').errors && registrationForm.get('email').errors['required']">
                    Please enter email address.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('email').errors && registrationForm.get('email').errors['email']">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error
                    *ngIf="registrationForm.get('password').errors && registrationForm.get('password').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('password').errors && registrationForm.get('password').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('password').errors && registrationForm.get('password').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="Repeated password" type="password" formControlName="repeatedPassword">
                <mat-error
                    *ngIf="registrationForm.get('repeatedPassword').errors && registrationForm.get('repeatedPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('repeatedPassword').errors && registrationForm.get('repeatedPassword').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('repeatedPassword').errors && registrationForm.get('repeatedPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('repeatedPassword').errors && registrationForm.get('repeatedPassword').errors['mustMatch']">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="First name" formControlName="firstName">
                <mat-error
                    *ngIf="registrationForm.get('firstName').errors && registrationForm.get('firstName').errors['required']">
                    Please enter firts name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <input matInput placeholder="Last name" formControlName="lastName">
                <mat-error
                    *ngIf="registrationForm.get('lastName').errors && registrationForm.get('lastName').errors['required']">
                    Please enter last name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <input matInput placeholder="Address" formControlName="address">
                <mat-error
                    *ngIf="registrationForm.get('address').errors && registrationForm.get('address').errors['required']">
                    Please enter address.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <input matInput placeholder="Phone number" formControlName="phoneNumber">
                <mat-error
                    *ngIf="registrationForm.get('phoneNumber').errors && registrationForm.get('phoneNumber').errors['required']">
                    Please enter phone number.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('phoneNumber').errors && registrationForm.get('phoneNumber').errors['minLength']">
                    Phone number must have between 9 and 10 digits.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('phoneNumber').errors && registrationForm.get('phoneNumber').errors['maxLength']">
                    Phone number must have between 9 and 10 digits.
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('phoneNumber').errors && registrationForm.get('phoneNumber').errors['pattern']">
                    Please enter a valid phone number.
                </mat-error>
            </mat-form-field>
            <div class="row">
                <div class="col-9">
                    &nbsp;
                </div>
                <div class="col-3" align="end">
                    <button mat-raised-button color="primary" (click)="register()"
                        [disabled]="!registrationForm.valid">Register</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>