.dialog-class {
    width: 700px;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    vertical-align: bottom;
}

.table {
    margin-bottom: 0;
}

.form-full-width {
    width: 100%;
}


.form-full-width-left {
    width: 45%;
}

.form-full-width-right {
    width: 40%;
}

.form-full-width-95 {
    width: 95%;
}

.first{
    font-weight: 550;
}

.mat-card-title {
    margin-left: -10px;
}

.date-err {
    margin-top: .66667em;
    font-size: 80%;
}

.item-card {
    width: 100%;
    background-color: #e8f5e9;    
    margin: 0.7em auto;
}