<h1 mat-dialog-title>Leave feedback</h1>
<mat-dialog-content class="dialog-class">
  <div class="row">
    <div class="col-3">
      <label class="labelRaiting page-title">Rating</label>
    </div>
    <div class="col-9">
      <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block;">
        <li (click)="setRating(star)" [ngClass]="{ selected: star <= rating }">
          <i class="fa fa-star"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label class="page-title">Comment</label>
    </div>
    <div class="col-9 mt-1 mr-0">
      <textarea matInput [(ngModel)]="comment" rows="5" cols="49"></textarea>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" class="mb-3" (click)="leaveFeedback()" [disabled]="!rating">
    Leave feedback
  </button>
</mat-dialog-actions>