.dialog-class {
  width: 600px;
}

ngx-dropzone{
  width: 520px;
}
  
.table {
  margin-bottom: 0;
}

.car-table tr {
  border-bottom: 1px solid #ddd;
}

.car-table th, .table td {
  font-size: 16px;
  vertical-align: bottom;
}

.theader {
  font-weight: 550;
  display: inline-flex;
  vertical-align: middle;
}

.item-card {
  width: 100%;
  display: inline-flex;
  background-color: #F5F5F5;    
  margin: 0.7em auto;
}
.form-full-width {
  width: 100%;
}

.form-full-width-right {
  width: 99%;
}
.form-full-width-left {
  width: 90%;
}
/* Hides arrow buttons in input type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}