<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/search-advertisements">Search Advertisements</a>
            <a mat-list-item routerLink="/client/renting-cart">Renting Cart</a>
            <a mat-list-item routerLink="/client/registration">Registration</a>
            <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/change-password">Change Password</a>
            <a mat-list-item routerLink="">Advertisements</a>
            <a mat-list-item routerLink="/rent-requests">Rent Requests</a>
            <a mat-list-item routerLink="/client-rent-requests">Clients' Rent Requests</a>
            <a mat-list-item routerLink="/cars">Cars</a>
            <a mat-list-item routerLink="/price-lists">Price Lists</a>
            <a mat-list-item routerLink="/clients">Clients</a>
            <a mat-list-item routerLink="/body-styles">Body Styles</a>
            <a mat-list-item routerLink="/gearbox-types">Gearbox Types</a>
            <a mat-list-item routerLink="/fuel-types">Fuel Types</a>
            <a mat-list-item routerLink="/makes">Makes</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Rent-A-Car</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>