<mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-9">
                <h2>Cars</h2>
            </div>
            <div class="col-3" align="end">
                <button mat-raised-button color="primary" (click)="openDialog()">Create New</button>
            </div>
        </div>

        <table mat-table [dataSource]="carsDataSource" class="mat-elevation-z8 table mt-3">

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Make</th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.image" *ngIf="!element.isImageLoading; else noImageFound">
                </td>
            </ng-container>
            <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef>Make</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.make}}
                </td>
            </ng-container>
            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef>Model</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.model}}
                </td>
            </ng-container>
            <ng-container matColumnDef="fuelType">
                <th mat-header-cell *matHeaderCellDef>Fuel type</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.fuelType.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gearBoxType">
                <th mat-header-cell *matHeaderCellDef>Gearbox type</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.gearBoxType.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="bodyStyle">
                <th mat-header-cell *matHeaderCellDef>Body style</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.bodyStyle.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="mileageInKm">
                <th mat-header-cell *matHeaderCellDef>Mileage in kilometres</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.mileageInKm}}
                </td>
            </ng-container>
            <ng-container matColumnDef="kidsSeats">
                <th mat-header-cell *matHeaderCellDef>Number of kid's seats</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.kidsSeats}}
                </td>
            </ng-container>
            <ng-container matColumnDef="availableTracking">
                <th mat-header-cell *matHeaderCellDef>Available tracking</th>
                <td mat-cell *matCellDef="let element">
                    {{element.carDTO.availableTracking}}
                </td>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef class="buttons-width">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Edit" color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Delete" color="warn" (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </mat-card-content>

</mat-card>