<mat-card>
    <mat-card-content>
        <h2>Enter new password</h2>

        <form [formGroup]="resetPasswordForm" class="form-full-width">
            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="New password" [type]="newHide ? 'password' : 'text'"
                    formControlName="newPassword" maxlength="64">
                <span matSuffix class="ml-2 hide-btn">
                    <mat-icon matSuffix (click)="newHide = !newHide">{{newHide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </span>
                <mat-error
                    *ngIf="resetPasswordForm.get('newPassword').errors && resetPasswordForm.get('newPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="resetPasswordForm.get('newPassword').errors && resetPasswordForm.get('newPassword').errors['minlength']">
                    Password must be at least 8 characters long.
                </mat-error>
                <mat-error
                    *ngIf="resetPasswordForm.get('newPassword').errors && resetPasswordForm.get('newPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-full-width mt-3">
                <input matInput placeholder="Repeated password" [type]="repeatedHide ? 'password' : 'text'"
                    formControlName="repeatedPassword" maxlength="64">
                <span matSuffix class="ml-2 hide-btn">
                    <mat-icon matSuffix (click)="repeatedHide = !repeatedHide">
                        {{repeatedHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
                <mat-error
                    *ngIf="resetPasswordForm.get('repeatedPassword').errors && resetPasswordForm.get('repeatedPassword').errors['required']">
                    Please enter password.
                </mat-error>
                <mat-error
                    *ngIf="resetPasswordForm.get('repeatedPassword').errors && resetPasswordForm.get('repeatedPassword').errors['minlength']">
                    Password must be at least 8 characters long
                </mat-error>
                <mat-error
                    *ngIf="resetPasswordForm.get('repeatedPassword').errors && resetPasswordForm.get('repeatedPassword').errors['pattern']">
                    Password must contain at least 1 lowercase, 1 uppercase letter and 1 number
                </mat-error>
                <mat-error
                    *ngIf="resetPasswordForm.get('repeatedPassword').errors && resetPasswordForm.get('repeatedPassword').errors['mustMatch']">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>

            <div class="mt-3" align="end">
                <button mat-raised-button color="primary" (click)="resetPassword()"
                    [disabled]="!resetPasswordForm.valid">Confirm</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>