<h1 mat-dialog-title>Create New Price List</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="createForm" class="form-full-width">
        <mat-form-field class="form-full-width">
            <input matInput type="number" placeholder="Price Per Day" formControlName="pricePerDay" min="1">
            <span matSuffix class="ml-2">€</span>
            <mat-error *ngIf="createForm.get('pricePerDay').errors && createForm.get('pricePerDay').errors['required']">
                Please enter price per day.
            </mat-error>
            <mat-error *ngIf="createForm.get('pricePerDay').errors && createForm.get('pricePerDay').errors['min']">
                Price must be a positive decimal number.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-full-width">
            <input matInput type="number" placeholder="Price Per Kilometre" formControlName="pricePerKm" min="1">
            <span matSuffix class="ml-2">€</span>
            <mat-error *ngIf="createForm.get('pricePerKm').errors && createForm.get('pricePerKm').errors['min']">
                Price must be a positive decimal number.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-full-width">
            <input matInput type="number" placeholder="Price For Collision Damage Waiver" formControlName="priceForCDW"
                min="1">
            <span matSuffix class="ml-2">€</span>
            <mat-error *ngIf="createForm.get('priceForCDW').errors && createForm.get('priceForCDW').errors['min']">
                Price must be a positive decimal number.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" class="mb-3" (click)="create()"
        [disabled]="!createForm.valid">Create</button>
</mat-dialog-actions>