<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <span *ngIf="!isLoggedIn()">
        <a mat-list-item routerLink="/search-advertisements">Search Advertisements</a>
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/client/registration">Registrate</a>
        <a mat-list-item routerLink="/change-password">Change Password</a>
      </span>
      <mat-nav-list *ngIf="isLoggedIn() && hasPermissionManageCars()">
        <a mat-list-item routerLink="/cars">Cars</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isLoggedIn() && hasPermissionManageCodeBooks()">
        <a mat-list-item routerLink="/body-styles">Body Styles</a>
        <a mat-list-item routerLink="/gearbox-types">Gearbox Types</a>
        <a mat-list-item routerLink="/fuel-types">Fuel Types</a>
        <a mat-list-item routerLink="/makes">Makes</a>
      </mat-nav-list>

      <span *ngIf="isLoggedIn()">
        <a mat-list-item routerLink="/client/renting-cart">Renting Cart</a>
        <a mat-list-item routerLink="/advertisements">Advertisements</a>
        <a mat-list-item routerLink="/client-rent-requests">Clients' Rent Requests</a>
        <!-- <a mat-list-item routerLink="/statistics">Statistics</a> -->
        <a mat-list-item routerLink="/price-lists">Price Lists</a>
      </span>

      <mat-nav-list *ngIf="isLoggedIn() && hasPermissionManageUsers()">
        <a mat-list-item routerLink="/manage-users">Manage Users</a>
      </mat-nav-list>

      <span *ngIf="isLoggedIn() && hasPermissionAgentEditProfile()">
        <a mat-list-item routerLink="/edit-agent-info">Edit Profile Agent</a>
      </span>
      <span *ngIf="isLoggedIn() && hasPermissionAdminEditProfile()">
        <a mat-list-item routerLink="/edit-admin-info">Edit Profile Admin</a>
      </span>
      <span *ngIf="isLoggedIn() && hasPermissionClientProfile()">
        <a mat-list-item routerLink="/edit-client-info">Edit Profile Client</a>
      </span>
      <mat-nav-list *ngIf="isLoggedIn() && hasPermissionManageRoles()">
        <a mat-list-item routerLink="/role">Manage permissions</a>
      </mat-nav-list>

      <span *ngIf="isLoggedIn()">
        <a mat-list-item (click)="onLogout()">Log out</a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rent-A-Car</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>