<h1 mat-dialog-title>Create new Rent Request</h1>
<mat-dialog-content class="dialog-class">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="clientForm">
            <form [formGroup]="clientForm">
                <ng-template matStepLabel>Choose Client</ng-template>
                <div class="row">
                    <div class="col-9">
                        <mat-form-field class="form-full-width">
                            <mat-label>Choose existing client</mat-label>
                            <mat-select formControlName="client">
                                <mat-option *ngFor="let client of clients" [value]="client">
                                    {{client.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 mt-2" align="end">
                        <button mat-raised-button color="primary" (click)="openAddClient()">Add
                            client</button>
                    </div>
                </div>
                <div *ngIf="getSelectedClient()">
                    <mat-card class="item-card">
                        <mat-card-header>
                            <mat-card-title> {{getSelectedClient().name}}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="first">Email address</th>
                                        <td>
                                            {{getSelectedClient().email}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="first">Address</th>
                                        <td>
                                            {{getSelectedClient().address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="first">Phone Number</th>
                                        <td>
                                            {{getSelectedClient().phoneNumber}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="mt-3" align="end">
                    <button mat-raised-button color="primary" [disabled]="!clientForm.valid"
                        matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="informationForm">
            <form [formGroup]="informationForm">
                <ng-template matStepLabel>Define date and extras</ng-template>
                <div>
                    <table class="form-full-width mt-2 " cellspacing="0">
                        <tr>
                            <td class="form-full-width-left">
                                <mat-form-field class="form-full-width-95">
                                    <input matInput [matDatepicker]="pickerFrom" placeholder="Date from"
                                        formControlName="dateFrom" readonly [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td class="form-full-width-right">
                                <mat-form-field class="form-full-width">
                                    <input matInput type="time" placeholder="Time from" formControlName="timeFrom">
                                    <mat-error
                                        *ngIf="informationForm.get('timeFrom').errors && informationForm.get('timeFrom').errors['required'] ||
                                informationForm.get('dateFrom').errors && informationForm.get('dateFrom').errors['required'] ">
                                        Please choose date and time from.
                                    </mat-error>

                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-full-width-left">
                                <mat-form-field class="form-full-width-95">
                                    <input matInput [matDatepicker]="pickerTo" placeholder="Date to"
                                        formControlName="dateTo" readonly [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTo">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerTo disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td class="form-full-width-right">
                                <mat-form-field class="form-full-width">
                                    <input matInput type="time" placeholder="Time to" formControlName="timeTo">

                                    <mat-error
                                        *ngIf="informationForm.get('timeTo').errors && informationForm.get('timeTo').errors['required'] || 
                                        informationForm.get('dateTo').errors && informationForm.get('dateTo').errors['required'] ">
                                        Please choose date and time to.
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-error class="date-err"
                                    *ngIf="informationForm.errors && informationForm.errors['validError']">
                                    Date form must be at least the present day and must be before date to.
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-full-width-left">
                                <mat-form-field class="form-full-width-95">
                                    <input matInput placeholder="Pick-up Point" formControlName="pickUpPoint">
                                    <mat-error
                                        *ngIf="informationForm.get('pickUpPoint').errors && informationForm.get('pickUpPoint').errors['required']">
                                        Please enter Pick-up Point.
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td class="form-full-width-right">
                                <div *ngIf="this.selectedItem.cdw">
                                    <mat-checkbox formControlName="optedForCDW" class="form-full-width">
                                        Include Collision Damage Waiver
                                    </mat-checkbox>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div align="end" class="mt-3">
                    <button mat-raised-button class="mr-3" color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" [disabled]="!informationForm.valid" (click)="create()"
                        matStepperNext>Create</button>
                </div>

            </form>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>