<h1 mat-dialog-title>Edit Make</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="editForm" class="form-full-width">
        <mat-form-field class="form-full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="editForm.get('name').errors && editForm.get('name').errors['required']">
                Please enter make's name.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="edit()" class="mb-3" [disabled]="!editForm.valid">Edit</button>
</mat-dialog-actions>