<h1 mat-dialog-title class="feedback-title">Review Feedback</h1>
<mat-dialog-content class="dialog-class">
  <mat-card class="comment-rating-card">
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <label class="labelRaiting page-title">Rating</label>
        </div>
        <div class="col-9" *ngIf="feedback != null">
          <star-rating class="rating-style" totalstars="5" checkedcolor="#87C7F3" uncheckedcolor="black" size="35px"
            [value]="feedback.rating">
          </star-rating>
        </div>
      </div>
      <div class="row" *ngIf="setUpComment">
        <div class="col-3">
          <label class="page-title">Comment</label>
        </div>
        <div class="col-9">
          {{ setUpComment.text }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="comment-rating-card" *ngIf="loggedInUserComment">
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <label class="page-title">Your comment</label>
        </div>
        <div class="col-9">
          {{ loggedInUserComment.text }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="comment-rating-card" *ngIf="!loggedInUserComment">
    <mat-card-content>
      <table>
        <tr>
          <td class="your-comment">
            <label class="page-title your-comment-label">Your comment</label>
          </td>
          <td>
            <form [formGroup]="commentForm" class="form-full-width">
              <mat-form-field>
                <textarea matInput formControlName="comment" rows="3" cols="50"></textarea>
                <mat-error *ngIf="
                    commentForm.get('comment').errors &&
                    commentForm.get('comment').errors['required']
                  ">
                  Please enter comment.
                </mat-error>
              </mat-form-field>
            </form>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            &nbsp;
          </td>
          <td class="your-comment">
            <button align="end" mat-raised-button color="primary" (click)="createComment()"
              [disabled]="!commentForm.valid">
              Create comment
            </button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>