<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-9">
        <h2>Manage Users</h2>
      </div>
    </div>
    <div>
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Clients">
          <div>
            <br /><br />
            <div class="status-filter">
              <span class="filter-span">Filter by status:</span>
              <mat-form-field>
                <mat-select [(ngModel)]="status" (selectionChange)="fetchAllClients(status)">
                  <mat-option value="all" selected>- All -</mat-option>
                  <mat-option value="awaiting">Awaiting</mat-option>
                  <mat-option value="approved">Approved</mat-option>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="blocked">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
              <br /><br />
            </div>
            <div>
              <table mat-table [dataSource]="clientsDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>

                <ng-container matColumnDef="canceledReservationCounter">
                  <th mat-header-cell *matHeaderCellDef>
                    Canceled Reservation Counter
                  </th>
                  <td mat-cell *matCellDef="let element">{{element.canceledReservationCounter}}</td>
                </ng-container>

                <ng-container matColumnDef="rejectedCommentsCounter">
                  <th mat-header-cell *matHeaderCellDef>
                    Rejected Comments Counter
                  </th>
                  <td mat-cell *matCellDef="let element">{{element.rejectedCommentsCounter}}</td>
                </ng-container>

                <ng-container matColumnDef="buttons">
                  <th mat-header-cell *matHeaderCellDef class="buttons-width">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Approve" matTooltip="Approve"
                      *ngIf="element.status === 'AWAITING'" color="primary" (click)="approve(element)">
                      <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Reject" matTooltip="Reject" color="primary"
                      *ngIf="element.status === 'AWAITING'" (click)="reject(element)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Delete" color="warn" matTooltip="Delete"
                      (click)="delete(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Block" *ngIf="element.status === 'ACTIVE'" color="warn"
                      matTooltip="Block" (click)="block(element)">
                      <mat-icon>enhanced_encryption</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Unblock" *ngIf="element.status === 'BLOCKED'" color="warn"
                      matTooltip="Unblock" (click)="unblock(element)">
                      <mat-icon>no_encryption</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Disable creating rent requests"
                      *ngIf="element.canCreateRentRequests && element.status === 'ACTIVE'" class="btn-enable"
                      matTooltip="Disable creating rent requests" (click)="disableCreatingRentRequests(element)">
                      <mat-icon>layers</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Enable creating rent requests"
                      *ngIf="!element.canCreateRentRequests && element.status === 'ACTIVE'" color="warn"
                      matTooltip="Enable creating rent requests" (click)="enableCreatingRentRequests(element)">
                      <mat-icon>layers_clear</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Disable creating comments"
                      *ngIf="element.canCreateComments && element.status === 'ACTIVE'" class="btn-enable"
                      matTooltip="Disable creating comments" (click)="disableCreatingComments(element)">
                      <mat-icon>speaker_notes</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Enable creating comments"
                      *ngIf="!element.canCreateComments && element.status === 'ACTIVE'" color="warn"
                      matTooltip="Enable creating comments" (click)="enableCreatingComments(element)">
                      <mat-icon>speaker_notes_off</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsClient"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsClient"></tr>
              </table>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Agents">
          <div>
            <br /><br />
            <div class="status-filter">
              <span class="filter-span">Filter by status:</span>
              <mat-form-field>
                <mat-select [(ngModel)]="status" (selectionChange)="fetchAllClients(status)">
                  <mat-option value="all" selected>- All -</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="blocked">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div align="end">
              <button mat-raised-button color="primary" (click)="newAgentDialog()">
                Create New
              </button>
            </div>
            <br /><br />
            <div>
              <!-- TODO: add [dataSource]="dataSource" -->
              <table mat-table class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef>Phone number</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="taxIdNumber">
                  <th mat-header-cell *matHeaderCellDef>TAX ID number</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="buttons">
                  <th mat-header-cell *matHeaderCellDef class="buttons-width">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Delete" color="warn" (click)="deleteAgent(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <!-- 
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAgent"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAgent"></tr>
              </table>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Admins">
          <div>
            <br /><br />
            <div class="status-filter">
              <span class="filter-span">Filter by status:</span>
              <mat-form-field>
                <mat-select [(ngModel)]="status" (selectionChange)="fetchAllClients(status)">
                  <mat-option value="all" selected>- All -</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="blocked">Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div align="end">
              <button mat-raised-button color="primary" (click)="newAdminDialog()">
                Create New
              </button>
            </div>
            <br /><br />
            <div>
              <!-- TODO: add [dataSource]="dataSource" -->
              <table mat-table class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container>

                <ng-container matColumnDef="buttons">
                  <th mat-header-cell *matHeaderCellDef class="buttons-width">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Delete" color="warn" (click)="deleteAdmin(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!-- 
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">DATA</td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin"></tr>
              </table>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>