mat-card {
  max-width: 900px;
  margin: 2em auto;
}

.user-table {
  width: 97%;
  margin-left: 10px;
  margin-right: 10px;
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

.buttons-width {
  width: 200px;
}

.status-filter {
  font-size: 110%;
}

.filter-span {
  margin-right: 20px;
}

.btn-enable{
  color: #009688;
}