<h1 mat-dialog-title>Add new Body Style</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="createForm" class="form-full-width">
        <mat-form-field class="form-full-width-td ml-2">
            <input matInput placeholder="Label" formControlName="name">
            <mat-error *ngIf="createForm.get('name').errors && createForm.get('name').errors['required']">
                Please enter body style's name.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-3 mb-1">
    <button mat-raised-button color="primary" (click)="create()" [disabled]="!createForm.valid">Add</button>
</mat-dialog-actions>